<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>[[${title}]]</title>
</head>
<body>
<div style="background: darkgray; padding: 10px">
  <div class="jumbotron">
    <div class="container">
      <h1>
        [[${title}]]
      </h1>
      <p>Todos los productos disponibles en la tienda</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <a class="btn btn-primary" th:href="@{/product/new}">Añadir Productos</a>
</div>
<div th:if="${product != null}">
  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="padding-bottom: 18px;">
        <div class="img-thumbnail">
          <div class="caption"><h2 th:text="${product.name}">Nombre del Producto</h2>
            <p th:text="${product.description}">Descripción del Producto</p>
            <p th:text="${product.unitPrice}">Precio del Producto</p>
            <p th:text="'Disponible ' + ${product.unitsInStock} + ', unidades en stock'"> Unidades en
              Stock </p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:if="${product == null}"><p>No se encontró el producto.</p></div>
</body>
</html>